@import 'node_modules/bootstrap/scss/bootstrap';

#body{
  background-color: aquamarine;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.aside{
  background-color: rgba(0,0,0,0.6);
  color: white;

}
#map{
    border-radius: 20px;   
}
p.h1{
  font-size: 4.5rem;
}
.info{
  height: 100%;
  color: #fff;
}
.pic{
  width: 30px;
}
ul{
  list-style: none;
}