@import 'node_modules/bootstrap/scss/bootstrap';

.cicle {
  display: none;
  background-color: transparent;
  position: absolute;
  right: 41px;
  border-radius: 50%;
  z-index: 99;
  svg {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 1s linear 0s normal none infinite running rot;
    width: 100px;
  }
}
.active {
  display: block;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper-container {
  margin-bottom: 50px;
}
div.small {
  display: flex !important;
  justify-content: center !important;
}
.card {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px 0 #000;
  height: 360px;
  width: 100%;
  img {
    width: 100%;
  }

  .card-body-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0 5px;
    img {
      height: 70%;
    }
    p {
      margin-bottom: 5px;
    }
    .description {
      display: none;
      line-height: 1.2;
    }
  }
  @include media-breakpoint-only(xs) {
    min-height: 430px;
  }
  @include media-breakpoint-only(sm) {
    height: 480px;
  }
  @include media-breakpoint-only(md) {
    height: 480px;
  }
  @include media-breakpoint-only(lg) {
    height: 290px;
  }
  @include media-breakpoint-only(xl) {
    height: 355px;
  }
}

div.card:hover {
  box-shadow: 5px 5px 15px 0 #000;
  .card-body-overlay {
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;

    .description {
      display: block;
    }
  }
}
